SECRET_KEY = "your_key" # Paste your secret key here
ALGORITHM = "HS256"
TOKEN_EXPIRE = 30       # Time after which you want the token to become invalid.

#                                         :Your Password here
DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/postgres  # if use async
#DATABASE_URL=postgresql+psycopg://postgres:password@localhost:5432/postgres # Old URL for using sync PostgreSQL